{% extends "admin/layout/layout.twig" %}

{% block content %}

    <div class="page-header">
        <h1>Entities</h1>
    </div>

    <table class="table">
        <tr>

        </tr>

        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ url('admin/entity', {entity: entity.name}) }}">
                        {{ entity.name }}
                    </a>
                </td>
                <td>{{ entity.options.entity }}</td>
                <td>
                    {% if entity.options.isAllowCreate() %}
                        <a href="{{ url('admin/entity/create', {'entity': entity.name}) }}" class="btn btn-info">Добавить</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
