{% extends 'layout/layout.twig' %}

{% block content %}
    <div class="hero-unit">
        <h1><span class="zf-green">Skeleton Application</span></h1>
        <h2>Your start point to world of Zend Framework 2</h2>
    </div>
{% endblock %}
