<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    'config_cache_enabled' => false,
    'module_map_cache_enabled' => false,
    'check_dependencies' => true,
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'host' => 'localhost',
                    'port' => '3306',
                    'user' => 'root',
                    'password' => '',
                    'dbname' => '',
                ),
            )
        ),
    ),
    'assetic_configuration' => array(
        'debug' => true,
        'combine' => false,
        'cacheEnabled' => false,
        'buildOnRequest' => true,
    ),
    'zfctwig' => array(
        'environment_options' => array(
            'debug' => true,
            'cache' => null
        ),
        'extensions' => array(
            'debug' => 'Twig_Extension_Debug'
        )
    ),
    'zenddevelopertools' => array(
        'profiler' => array(
            'enabled' => true
        ),
        'toolbar' => array(
            'enabled' => true
        )
    ),

    'view_manager' => array(
        'display_not_found_reason' => true,
        'display_exceptions' => true,
    )
);